.header-container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 0 20px;
}

.categories-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link, .auth-link {
    text-decoration: none;
    margin: 0 10px;
}

.nav-link {
    color: black;
}

.auth-link{
    background-color: var(--button-bg);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
}

.fa-home{
    cursor: pointer;
}